<?xml version="1.0" encoding="utf-8"?>
<init>
  <url>1</url>
  <isSend>true</isSend>
  <magName>¤È¤é¤Ù¤ë¾©¶¼»¢¤ÎŽ†</magName>
  <magPageNum>18</magPageNum>
  <btnSum>63</btnSum>
  <sendTime>20000</sendTime>
  <url1>http://192.168.1.222/TrackMart/JR/Save.aspx</url1>
  <url2>http://124.254.63.149:8086/jr/Save.aspx</url2>
</init>
